<!DOCTYPE html>
<html>
<head>
    <title>CMI</title>
</head>
<body>
    <h1>CMI</h1>
    <ul>
        <a>Ejercicio 1</a>
        <li><a href="/select_ips">IPs más vulnerables</a></li>
        <li><a href="/select_devices">Dispositivos más vulnerables</a></li>
        <a>Ejercicio 2</a>
        <li><a href="/top_dangerous">Dispositivos más peligrosos</a></li>
        <li><a href="/infoSafeDevices">Información de los dispositivos menos peligrosos</a></li>
        <li><a href="/infoUnsafeDevices">Información de los dispositivos más peligrosos</a></li>
        <a>Ejercicio 3</a>
        <li><a href="/vulnerabilities">Últimas vulnerabilidades</a></li>
        <a>Ejercicio 4</a>
        <li><a href="/select_day">Análisis de conexiones por día de IPs</a></li>
        <a>Ejercicio 5</a>
        <li><a href="/linearRegression">Regresión lineal</a></li>
    </ul>
</body>
</html>